.task-form-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.task-form-container{
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 1rem
}

.task-form-container h2{
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: 600;
}

.task-form-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group{
    display: flex;
    gap: 1rem;
}

.form-group label{
    font-size: 1rem;
    font-weight: 500;
    font-family: poppins;
}

.form-group input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: poppins;
    margin-left: 3.5rem;
}

.form-group textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: poppins;
    resize: none;
}

.form-btns{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.form-btns button{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-family: poppins;
}

.create-btn{
    background-color: #329C89;
    color: white;
    transition: 0.4s all ease-in;
}

.create-btn:hover{
    color: #329C89;
    background-color: white;
}

.close-btn{
    background-color: rgb(230, 118, 118);
    color: white;
    transition: 0.4s all ease-in;
}
.close-btn:hover{
    color: rgb(230, 118, 118);
    background-color: white;
}
